 
img {

    position: absolute;
    width: 274px;
    height: 161px;
    left: 13px;
    top: 24px;

}
 
 /* Welcome */

h1 {
    width: auto;
    height: 48px;
    left: 253px;
    top: 217px; 
    font-family: Rosarivo;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 65px;
    color: #000000;

    
  }

  .info {

    position: absolute;
    width: 779px;
    height: 48px;
    left: 253px;
    top: 220px;   
    font-family: Rosarivo;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;   
    color: #000000;

  }

  .Nagi {
      position: absolute;
      width: 210px;
      height: 308px;
      left: 118px;
      top: 448px;

  }

  .nagiaudio{

    position: absolute;
    width: 210px;
    height: 308px;
    left: 500px;
    top: 510px;

  }

  .nagiaudiodownload{ 

    position: absolute;
    width: 210px;
    height: 308px;
    left: 810px;
    top: 525px;

  }